body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.logo {
    width: 180;
    height: 90}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

nav .logo {
    color: #fff;
    font-size: 24px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}



.baner {
    background: url('images/pallets-background.jpg') no-repeat center center/cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    color: white; }

        .banner-content {
            background: rgba(0, 0, 0, 0.5);
            /* Напівпрозорий фон для тексту */
            padding: 20px;
        }
    
        .banner h1 {
            margin: 0;
            font-size: 3em;
        }
    
        .banner p {
            margin: 10px 0 0;
            font-size: 1.5em;
        }

.product-section {
    display: flex;
    align-items: center;
    padding: 50px 20px;
    background-color: #f4f4f4;
}

.product-section img {
    width: 50%;
    height: auto;
}

.product-details {
    margin-left: 20px;
}

.product-details h2 {
    font-size: 28px;
}

.product-details p {
    font-size: 18px;
    margin: 5px 0;
}

.quality-section {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

.quality-section img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.contact-section {
    padding: 50px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}